<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Back to users", users_path %>
  <br>
  <br>
  <% if is_admin? %>
    <%= link_to "Edit this user", edit_user_registration_path(@user) %> |
    <%= button_to "Destroy this user", @user, method: :delete %>
  <% end %>
</div>
